*
{
    margin: 0;
    padding: 0;
}

.img-header{
    width: 1366px;
    height: 93px;
    background-image: url(Group6/header.jpg);
    background-size: 100%;
    background-position: top;
}

.img-slider{
    width: 1366px;
    height: 549px;
    background-image: url(Group6/slider.jpg);
    background-size: 100%;
    
}

.img-body{
    width: 1366px;
    height: 552px;
    background-image: url(Group6/body.jpg);
    background-size: 100%;
}

.footer{
    width: 1366px;
    height: 401px;
    background-color: #008000;
}

.footer .info{

    
}